<% include ../partials/header.ejs %>

<main class="container">

    <% if(message.length>0) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Register Now</h1>
            <form method="POST">
                <fieldset class="form-group">
                    <label for="username">Username</label >
                        <input type="text" class="form-control" required
                        name="username" placeholder="Enter username.."
                        id="username">
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" 
                    required name="password" placeholder="Enter password.."
                    id="password">
                </fieldset>

                <fieldset class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" 
                        required name="email" placeholder="Enter email.."
                        id="email">
                    </fieldset>

                    <fieldset class="form-group">
                            <label for="displayName">Display Name</label>
                            <input type="text" class="form-control" 
                            required name="displayName" 
                            id="displayname" placeholder="Enter display name..">
                        </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/"> 
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>
